@charset "utf-8";
/* CSS Document */
.top_t{ width:100%; height:44px; padding-top:124px; position:relative;}
.project_name{ position:absolute; left:50%; bottom:0px;width:1100px; margin-left:-600px;  height:44px; line-height:44px; font-size:24px; color:#33a4e2; text-align:left; font-family:"微软雅黑"; }
.center_t{ margin:auto;height:500px;  background-image:url(../imgae/login_bg.png); background-repeat:no-repeat; position:relative; background-size:cover;}
.center_box{ position:absolute; left:50%;width:1100px; height:500px; margin-left:-600px;}
.center_box .login_pic{ width:712px; height:500px; float:left;}
.center_box .login_box{ width:382px; height:440px; margin-top:30px; float:right; background-color:#ffffff; border-radius:6px; box-shadow:0 0 6px #666;}
.bottom_t{ width:100%; height:52px; position:relative;}
.bottom_t span{ width:1100px; display:block; position:absolute;left:50%; margin-left:-600px; font-size:14px; line-height:52px; color:#666666; font-family:"微软雅黑";}
.login_box h5{ width:382px; height:72px; text-align:center; font-weight:100; line-height:72px; margin:0; padding:0; color:#35aae7; font-family:"宋体"; font-size:22px;}
.form_login{ width:316px; margin-left:32px; padding-right:32px;}
.account_password{ width:316px; height:100px; border:1px solid #c7d2d8; border-radius:2px; padding:6px 6px 18px 18px; margin-bottom:33px;}
.domain_name{ width:316px; height:42px;border:1px solid #c7d2d8; border-radius:2px; padding:0 18px; margin-bottom:56px;}
.account_password .account_password_item{ width:280px; height:44px; vertical-align:middle;}
.domain_name_item{ width:280px; height:44px; vertical-align:middle;}
.account_password .account_password_item i{ display:inline-block; width:42px; height:44px; padding-top:12px; vertical-align:middle; }
.domain_name_item .icon{ display:inline-block; width:42px; height:44px; padding-top:12px; vertical-align:middle; }
.account_password .yo_border{ border-bottom:1px solid #e3ebef; }
.account_password .account_password_item input,.domain_name_item input{ width:228px; color:#8ebad3;}
.arrow_down{ width:10px; height:44px; padding-top:18px;  vertical-align:middle; display:inline-block;}
.form_login .account_password_item .current_input{ color:#333333;}
.btn_login{ display:block; color:#fff; font-size:16px; width:316px; height:40px; text-align:center; line-height:40px; background-color:#5dbffc; border-radius:2px;}
.font_switch{ margin-left:68px; display:block; width:180px; height:32px; line-height:32px; margin-top:18px; border-top:1px solid #eff4f6;border-bottom:1px solid #eff4f6; text-align:center; position:relative;}
.font_switch i{ position:absolute; top:10px; right:12px;}
